<app-player 
    *ngFor="let player of game.players let i = index;"
    [playerActive]="i == game.currentPlayer"
    [name] = "player"
    [ngStyle]="{'top.px': 100 + (i * 90)}" 
    class="playerPosition"></app-player>

<div class="field">

    <!-- <img src="./../../assets/img/board.jpg" alt=""> -->
    <div class="cardStack">
        <!-- Card Stack -->
        <img *ngFor="let c of [0,1,2,3,4]; let i = index;" 
        [ngStyle]="{'right.px': i * 5}" 
        src="assets/img/cards/gray_back.png" alt="">
        <img (click)="takeCard()" class="topCard" style="right: 25px;" src="assets/img/cards/gray_back.png" alt="">
        <!-- Stack for played cards -->
        <img *ngFor="let playedCard of game.playedCards" class="playedCard" src="assets/img/cards/{{ playedCard }}.png" alt="">
        <!-- drawn card animation -->
         <img (click)="takeCard()" *ngIf="pickCardAnimation" class="pickCard" style="right: 25px;" src="assets/img/cards/{{ currentCard }}.png" alt="">

    </div>
</div>

<div class="infoPlusAddPlayer">
    <app-game-info [card]="currentCard" ></app-game-info>
<button mat-fab color="primary" (click)="openDialog()" class="btn-add">
    <mat-icon ><span class="material-symbols-outlined">
        person_add
        </span></mat-icon>
  </button>

  
</div>